.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 5px;
  padding: 3px;
}

.wd-modules {
  margin: 2px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}


.wd-modules > li {
  margin-bottom: 20px;
}

.wd-modules > li > ul > li > ul >li {
  margin: 5px 5px 10px 5px;
  border-top: none !important;
  border: 0.5px solid gray !important;
}